name: Pull request testing
on:
  pull_request:
    branches:
      - master
jobs:
  release:
    name: Pull request testing
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Python setup
        uses: actions/setup-python@v1
      - name: Install missing packages
        run: sudo apt-get install libpq-dev
      - name: install
        run: npm install
      - name: pip
        run: pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .
      - name: Test with pytest
        run: |
          pytest app
          # env:
          # DEBUG: True
          # DATABASE_URL: sqlite:///db.sqlite
